services:
  backend:
    build:
      context: ./taller/Web
      dockerfile: Dockerfile
    container_name: backend-${ENV:-default}
    ports:
      - "8081:8080"
    env_file:
      - ./environments/${ENV:-dev}/.env
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Development}
      - ConnectionStrings__Default=Host=db;Port=${DB_PORT:-5432};Database=${POSTGRES_DB:-appdb};Username=${POSTGRES_USER:-appuser};Password=${POSTGRES_PASSWORD:-password}
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: db-${ENV:-default}
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-appdb}
      - POSTGRES_USER=${POSTGRES_USER:-appuser}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
    volumes:
      - db_data_${ENV:-default}:/var/lib/postgresql/data

volumes:
  db_data_default:
  db_data_dev:
  db_data_qa:
  db_data_staging:
  db_data_prod:
