version: "3.9"

services:
  sqlserverBack-dev:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserverBack-dev
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SQLSERVER_PASSWORD}
      MSSQL_PID: "Developer"
    ports:
      - "1434:1433"
    volumes:
      - sqlserver_data_dev:/var/opt/mssql
    networks:
      - multas_network

  sqlserverBack-qa:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserverBack-qa
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SQLSERVER_PASSWORD}
      MSSQL_PID: "Developer"
    ports:
      - "1435:1433"
    volumes:
      - sqlserver_data_qa:/var/opt/mssql
    networks:
      - multas_network

  sqlserverBack-staging:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserverBack-staging
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SQLSERVER_PASSWORD}
      MSSQL_PID: "Developer"
    ports:
      - "1436:1433"
    volumes:
      - sqlserver_data_staging:/var/opt/mssql
    networks:
      - multas_network

  sqlserverBack-prod:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserverBack-prod
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SQLSERVER_PASSWORD}
      MSSQL_PID: "Developer"
    ports:
      - "1437:1433"
    volumes:
      - sqlserver_data_prod:/var/opt/mssql
    networks:
      - multas_network

volumes:
  sqlserver_data_dev:
  sqlserver_data_qa:
  sqlserver_data_staging:
  sqlserver_data_prod:

networks:
  multas_network:
    external: true
