services:
  backend:
    container_name: backend-dev
    ports:
      - "8081:8080"
    env_file:
      - ./environments/dev/.env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db

  db:
    container_name: db-dev
    ports:
      - "5432:5432"
    volumes:
      - db_data_dev:/var/lib/postgresql/data

volumes:
  db_data_dev:
